hr {
 height: 2px;
 background-color: #708090;
 width: 90%;
 border: none;
 margin-bottom: 3em;
}



.col-md-2{
     margin-left: 5em;
     text-align: center;
}

.create-box{
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.create-box2{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.create-box3{
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  width: 30%;
  min-width: 200px;
  float: left;
}

.create-box3 li{
    text-align: center;
    list-style: none;
    margin-top: 1em;
}


.create-radio1{
    display: inline-block;
    margin-top: 1em;
     margin-right: 2em;
}



.form-name{
  width: 50%;
  margin-left: 20px;
  height: 30px;
  
}

.form-address{
    width: 75%;
  margin-left: 20px;
  height: 30px;
}

.form-comment{
    width: 75%;
  margin-left: 20px;
  height: 5em;
}

.col-md-2{
    color: #000;
    font-size: 19px;
    font-weight: 500;
    
}

.col-md-3{
    color: #000;
    font-size: 15px;
    font-weight: 300;
    margin-right: 2em;
    
    
}

.create-image li{
    margin: 2em;
}

.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width: 10%;
  margin: 2em 45%;
}

.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

#gmap {
    width: 100%;
   height: 1000px;
   
}

#show-gmap {
    width: 70%;
   height: 300px;
}




