img {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.image-box {
  margin: 0 auto;
  text-align: center;
}

.image-box li {
  display: inline-block;
  margin: 1em 1em;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.title-name {
  text-align: center;
  font-size: 25px;
  border: solid #BBBBBB;
}

.show-table {
  width: 80%;
  margin: 3em auto;
}

.tr1 {
  background-color: #BBBBBB;
  height: 1em;
  border: solid #BBBBBB;
}

.tr2 {
  background-color: #BBBBBB;
  height: 15em;
  border: solid #BBBBBB;
}

.tr3 {
  background-color: #BBBBBB;
  height: 1.5em;
  border: none;
}

.show-table td {
  text-align: center;
  border: solid #BBBBBB;
}

.td-content {
  background-color: #fff;
  text-align: center;
  padding: 1em;
}

.show-p {
  text-align: center;
}

.show-image {
  width: 800px;
  height: 600px;
}

.show-subimage {
  margin: 1em;
  width: 240px;
  height: 160px;
}

.footer-image {
  width: 30%;
  height: 10%;
  margin-left: 75%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}